@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex items-center justify-between;
}

.item-b-border {
  @apply mx-3 group-hover:border-b group-hover:border-blue-50 border-blue-50;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 1.5rem;
  height: 0.13rem;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: rotate(0);
  transition: all 0.7s;
}

.hamburger-middle {
  transform: translateY(0.5rem);
}

.hamburger-bottom {
  transform: translateY(1rem);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(0.4rem) translateX(0.4rem);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

#hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 576px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}
